@model PagedList.IPagedList<DARE.Models.Event>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <h2>Recent Events</h2>
</div>
<table class="table">
    <tr>
        <th>
            Summary
        </th>
        <th>
            Action
        </th>
        <th>
            Type
        </th>
        <th>
            Date
        </th>
        <th>
            Thing
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(item.Thing.Name + " " + item.Action + " on " + String.Format("{0: MMMM d}", item.Date) + " at " + item.Date.Value.ToShortTimeString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @item.Date.Value.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thing.Name)
        </td>
    </tr>
}
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, pageNumber => Url.Action("Index",
    new { pageNumber, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))