@model DARE.Models.Thing

@{
    ViewBag.Title = "ControlThing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <h2>Control @Model.Name</h2>
</div>
<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" onclick="if (document.getElementById('myonoffswitch').checked) { turnOn(); } else { turnOff(); }" >
    <label class="onoffswitch-label" for="myonoffswitch"></label>
</div>

<script>
    $(document).ready(function () {
        pubnub = PUBNUB({
            publish_key: 'pub-c-2a63b4b0-ca5b-4f32-8db9-1c9a1d04ec33',
            subscribe_key: 'sub-c-deb946f2-840e-11e5-9e96-02ee2ddab7fe',
            ssl: true
        });

        pubnub.subscribe({
            channel: "pruessner_tribe",
            message: function (m) { console.log(m) },
            connect: getState(),
            callback: function (m) { queryMessage(m) }
        });
    })
    function queryMessage(m) {
        if(m.id == "@Model.ThingID.ToString()") {
            if(m.commands[0].hasOwnProperty("state")) {
                if(m.commands[0].state == "1") {
                    $('#myonoffswitch').prop('checked', true);
                } else {
                    $('#myonoffswitch').prop('checked', false);
                }
            }
        }
    }
    function getState() {
        var root = {"id":"@Model.ThingID.ToString()","commands":[{"getState":"1"}]};
        pubnub.publish({
            channel: "pruessner_tribe",
            message: root,
            callback: function(m) {console.log(m)}
        })
    }
    function turnOn() {
        var x = {"id":"@Model.ThingID.ToString()","commands":[{"action":"1"}]};
        pubnub.publish({
            channel: "pruessner_tribe",
            message: x,
            callback: function (m) { console.log(m) }
        })
        $('#myonoffswitch').disabled = true;
        setTimeout(function () {
            $('#myonoffswitch').disabled = false;
        }, 3000)
    }
    function turnOff() {
        var x = {"id":"@Model.ThingID.ToString()","commands":[{"action":"0"}]};
        pubnub.publish({
            channel: "pruessner_tribe",
            message: x,
            callback: function (m) { console.log(m) }
        })
    }
</script>
