@model DARE.Models.Thing

@{
    ViewBag.Title = "ControlThing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <h2>Control @Model.Name</h2>
</div>
@if (Model.ThingID == 9)
{
    <div id="temperatureDiv">
        <div class="container">
            <div class="de">
                <div class="den">
                    <div class="dene">
                        <div class="denem">
                            <div class="deneme">
                                48<span>.0</span><strong>&deg;</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" onclick="if (document.getElementById('myonoffswitch').checked) { turnOn(); } else { turnOff(); }">
        <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>
}

<script>
    $(document).ready(function () {
        pubnub = PUBNUB({
            publish_key: 'pub-c-2a63b4b0-ca5b-4f32-8db9-1c9a1d04ec33',
            subscribe_key: 'sub-c-deb946f2-840e-11e5-9e96-02ee2ddab7fe',
            ssl: true
        });

        pubnub.subscribe({
            channel: "pruessner_tribe",
            message: function (m) { console.log(m) },
            connect: getState(),
            callback: function (m) { queryMessage(m) }
        });
    })
    function queryMessage(m) {
        if (m.id == "@Model.ThingID.ToString()") {
            if (m.commands[0].hasOwnProperty("state")) {
                if (m.commands[0].state == "1") {
                    $('#myonoffswitch').prop('checked', true);
                } else if (m.commands[0].state == "0") {
                    $('#myonoffswitch').prop('checked', false);
                }
            } else if (m.commands[0].hasOwnProperty("temperature")) {
                $('#deneme').val(m.commands[0].state);
            }
        }
    }
    function getState() {
        var root = { "id": "@Model.ThingID.ToString()", "commands": [{ "getState": "1" }] };
        pubnub.publish({
            channel: "pruessner_tribe",
            message: root,
            callback: function (m) { console.log(m) }
        })
    }
    function turnOn() {
        var x = { "id": "@Model.ThingID.ToString()", "commands": [{ "action": "1" }] };
        pubnub.publish({
            channel: "pruessner_tribe",
            message: x,
            callback: function (m) { console.log(m) }
        })
        $("#myonoffswitch").attr("disabled", true);
        setTimeout(function () {
            $('#myonoffswitch').attr("disabled", false);
        }, 2000)
    }
    function turnOff() {
        var x = { "id": "@Model.ThingID.ToString()", "commands": [{ "action": "0" }] };
        pubnub.publish({
            channel: "pruessner_tribe",
            message: x,
            callback: function (m) { console.log(m) }
        })
        $("#myonoffswitch").attr("disabled", true);
        setTimeout(function () {
            $('#myonoffswitch').attr("disabled", false);
        }, 2000)
    }
</script>
