@model IEnumerable<DARE.Models.Thing>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Things</h2>

<p>
    @Html.ActionLink("Create New Thing", "Create", null, new { @class="red btn"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThingID }) |
            @Html.ActionLink("Control", "ControlThing", new { id = item.ThingID })
        </td>
    </tr>
}

</table>

<div class="modal fade" style="margin-top: 100px;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color:#252830">
            <div class="modal-header">
                <h4 class="modal-title text-danger" id="myModalLabel">Warning!</h4>
            </div>
            <div class="modal-body">
                <h4>
                    @TempData["AccessDenied"]
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn red" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var success = @((TempData["AccessDenied"] != null).ToString().ToLower());
        if(success) {
            $('#myModal').modal('show');
        }
    })
</script>