@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()

        <ul id="userIconParent" class="nav nav-tabs nav-stacked">
            <li style="border-top:none;">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink(User.Identity.Name, "UserProfile", "User", routeValues: null, htmlAttributes: new { title = "Profile", @id = "", @class = "icon fa-user" })
                }
                else
                {
                    @Html.ActionLink("User", "UserProfile", "User", routeValues: null, htmlAttributes: new { title = "Profile", @id = "", @class = "icon fa-user" })
                }
            </li>
            @if (User.IsInRole("3"))
            {
                <li class="userIconChild">@Html.ActionLink("Manage Users", "Index", "User")</li>
            }
            <li class="userIconChild"><a id="" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            <li class="userIconChild">@Html.ActionLink("Messages", "Index", "Notes", null, null)</li>
        </ul>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#userIconParent').on({
                    'mouseenter': function () {
                        $('.userIconChild').css("left", "0");
                    }, 'mouseleave': function () {
                        $('.userIconChild').css("left", "-300px");
                    }
                });
            });
        </script>
    }
}
else
{
    <h2>NOT AUTHENTICATED</h2>
}

