@using DARE.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DARE - Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/prefixfree.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login", role = "form" }))
        {
            <img id="loginImage" src="~/Images/Logo220x89.png" />
            <hr style="margin-top: 10px; margin-bottom: 10px;" />
            <h2 id="pleaseLogIn" class="slideExpandUp">Log In</h2>
            @Html.TextBoxFor(m => m.Username, new { @class = "", @placeholder = "Username", @required = "true", @autofocus = "true" })
            <i class="fa fa-user"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "", @placeholder = "Password", @required = "true" })
            <i class="fa fa-key"></i>
            <a href="#"><h5 class="underline" style="padding-top: 10px; color:grey">Forgot your password?</h5></a>
            <button onclick="ValidateUser()">
                <i id="animation" class="spinner"></i>
                <span id="submit" class="state">Submit</span>
            </button>
        }
    </div>
    <script>
        function ValidateUser() {
            $('.login').on("submit", function (e) { e.preventDefault(); });
            var userid = $("#Username").attr('value');
            var pass = $("#Password").attr('value');
            var url = "/Account/ValidateUser";
            var $this = $('.login'),
              $state = $this.find('button > .state');
            $this.addClass('loading');
            $state.html('Authenticating');
            setTimeout(function () {
                $.ajax({
                    url: "/Account/ValidateUser",
                    data: { username: userid, password: pass },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        if (data == "1") {
                            $this.addClass('ok');
                            $state.html('Welcome back!');
                            setTimeout(function () {
                                window.location.href = "Home/Index";
                            }, 1000)
                        } else {
                            $state.html('Incorrect username or password!');
                            $this.addClass('loginError');
                            $('#animation').removeClass('spinner');
                            $('#animation').addClass('close');
                            setTimeout(function () {
                                $this.removeClass('loading ok loginError');
                                $('#animation').removeClass('close');
                                $state.html('Submit');
                            }, 2000)
                        }
                        $("#txtuserid").attr({ 'value': '' });
                        $("#txtpassword").attr({ 'value': '' });
                    },
                    error: function (reponse) {
                        $state.html('An unknown error has occurred!');
                        $this.addClass('loginError');
                        setTimeout(function () {
                            $this.removeClass('ok loading loginError');
                            $state.html('Submit');
                        }, 3000);
                    }
                });
            }, 1000);
        }
    </script>
</body>
</html>
