@model DARE.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <h2>Details - @Model.FirstName @Model.LastName</h2>
</div>
<div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.UserID)" type="button">@Html.DisplayNameFor(model => model.UserID)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.UserID">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.Username)" type="button">@Html.DisplayNameFor(model => model.Username)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.Username">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.Email)" type="button">@Html.DisplayNameFor(model => model.Email)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.Email">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.CreationDate)" type="button">@Html.DisplayNameFor(model => model.CreationDate)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.CreationDate">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.LastLoginDate)" type="button">@Html.DisplayNameFor(model => model.LastLoginDate)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.LastLoginDate">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.PasswordQuestion)" type="button">@Html.DisplayNameFor(model => model.PasswordQuestion)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.PasswordQuestion">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.PasswordAnswer)" type="button">@Html.DisplayNameFor(model => model.PasswordAnswer)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.PasswordAnswer">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.DateOfBirth)" type="button">@Html.DisplayNameFor(model => model.DateOfBirth)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.DateOfBirth.Value.ToShortDateString()">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.PhoneNumber)" type="button">@Html.DisplayNameFor(model => model.PhoneNumber)</button>
        </span>
        <input type="text" readonly class="form-control" value="@String.Format("{0:(###) ###-####}", Convert.ToInt64(Model.PhoneNumber))">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.AccessFailedCount)" type="button">@Html.DisplayNameFor(model => model.AccessFailedCount)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.AccessFailedCount">
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "red btn" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "red btn" })
    </div>
</div>
