@model DARE.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="profileInfo" style="width: 70%;">
    <div class="header">
        <h2>My Profile</h2>
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.FirstName)" type="button">@Html.DisplayNameFor(model => model.FirstName)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.FirstName">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" onclick="window.location.href='/User/UserProfileEdit'" data-toggle="tooltip" data-placement="right" title="Change @Html.DisplayNameFor(model => model.LastName)" type="button">@Html.DisplayNameFor(model => model.LastName)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.LastName">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" data-toggle="tooltip" onclick="window.location.href='/User/UserProfileEdit'" data-placement="right" title="Change @Html.DisplayNameFor(model => model.Username)" type="button">@Html.DisplayNameFor(model => model.Username)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.Username">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" data-toggle="tooltip" onclick="window.location.href='/User/UserProfileEdit'" data-placement="right" title="Change @Html.DisplayNameFor(model => model.Email)" type="button">@Html.DisplayNameFor(model => model.Email)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.Email">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" data-toggle="tooltip" onclick="window.location.href='/User/UserProfileEdit'" data-placement="right" title="Change @Html.DisplayNameFor(model => model.PhoneNumber)" type="button">@Html.DisplayNameFor(model => model.PhoneNumber)</button>
        </span>
        <input type="text" readonly class="form-control" value="@String.Format("{0:(###) ###-####}", Convert.ToInt64(Model.PhoneNumber))">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" data-toggle="tooltip" onclick="window.location.href='/User/UserProfileEdit'" data-placement="right" title="Change @Html.DisplayNameFor(model => model.DateOfBirth)" type="button">@Html.DisplayNameFor(model => model.DateOfBirth)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.DateOfBirth.ToShortDateString()">
    </div>
    <br />
    <h3 style="margin-top: 30px;">Authentication</h3>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" data-toggle="tooltip" onclick="window.location.href='/User/UserProfileEdit'" data-placement="right" title="Change @Html.DisplayNameFor(model => model.PasswordQuestion)" type="button">@Html.DisplayNameFor(model => model.PasswordQuestion)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.PasswordQuestion">
    </div>
    <div class="input-group profileInputGroup">
        <span class="input-group-btn">
            <button class="btn red" data-toggle="tooltip" onclick="window.location.href='/User/UserProfileEdit'" data-placement="right" title="Change @Html.DisplayNameFor(model => model.PasswordAnswer)" type="button">@Html.DisplayNameFor(model => model.PasswordAnswer)</button>
        </span>
        <input type="text" readonly class="form-control" value="@Model.PasswordAnswer">
    </div>
    <div class="input-group profileInputGroup">
        <button class="btn red" data-toggle="tooltip" onclick="window.location.href='/Account/ChangePassword'" data-placement="right" title="Change Password" type="button">Change Password</button>
    </div>
</div>
<div id="profileImage">
    <span class="icon fa-user largeIcon"></span>
    <h3 style="text-align:center">
        @Model.FirstName @Model.LastName
    </h3>
    <hr style="border-top: 3px solid #F41710; width: 80%; margin-left: auto; margin-right: auto;"/>
    <h3 style="text-align:center;">
        @if (Model.RoleID == 3)
        {
            @:Super Administrator
        }
        else if (Model.RoleID == 2)
        {
            @:Administrator
        }
        else
        {
            @:Base User
        }
    </h3>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
