@model DARE.ViewModels.UserAccessViewModel
@{
    ViewBag.Title = "Edit Privileges";
}
<div class="header">
    <h2>Edit Entities - @Model.User.FirstName @Model.User.LastName</h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.User.UserID)
        <div class="">
            @for (int i = 0; i < Model.UserAccessArray.Length; i++)
                {
                <div class="row" style="margin-top:30px; width: 900px;">
                    <div class="col-md-2">
                        @Html.Label(Model.UserAccessArray[i].Name, new { @class = "" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(model => Model.UserAccessArray[i].IsSet, new SelectList(DARE.ViewModels.EntityOptionList.options, "Value", "Text", Model.UserAccessArray[i].IsSet), new { @class = "form-control small" })
                        @Html.HiddenFor(model => model.UserAccessArray[i].Name)
                        @Html.HiddenFor(model => model.UserAccessArray[i].Description)
                        @Html.HiddenFor(model => model.UserAccessArray[i].EntityID)
                    </div>
                    <div class="col-md-8">
                        <p>@Model.UserAccessArray[i].Description.ToString()</p>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn red" })
                &emsp;&emsp;&emsp;
                <button type="submit" value="Save" class="btn red">Save</button>
            </div>
        </div>
    </div>
}

