@model IEnumerable<DARE.Models.Schedule>

@{
    ViewBag.Title = "List Of Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Of Schedules</h2>

<p>
    @Html.ActionLink("Create New Schedule", "Create", null, new { @class="btn red" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Action Name")
        </th>
        <th>
            @Html.DisplayName("Schedule Name")
        </th>
        <th>
            @Html.DisplayName("Cron Expression")
        </th>
        <th>
            @Html.DisplayName("Thing Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Action.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CronExpression)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thing.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleID })
        </td>
    </tr>
}

</table>
<p>
    <button class="btn red" onclick="refreshClientSchedules()">Refresh Client Schedules</button>
</p>
<script>
    $(document).ready(function() {
        var hash = Sha1.hash("@User.Identity.Name");
        pubnub = PUBNUB({
            publish_key: 'pub-c-2a63b4b0-ca5b-4f32-8db9-1c9a1d04ec33',
            subscribe_key: 'sub-c-deb946f2-840e-11e5-9e96-02ee2ddab7fe',
            ssl: true,
            uuid: hash
        });

        pubnub.subscribe({
            channel: "pruessner_tribe",
            message: function (m) { console.log(m) }
        });
    })

    function refreshClientSchedules() {
        var x = { "id": "allClients", "commands": { "refreshClientSchedules": "1" } };
        pubnub.publish({
            channel: "pruessner_tribe",
            message: x,
            callback: function (m) { console.log(m) }
        })
    }
    
</script>