@model DARE.Models.Note

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Note</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.NoteID)
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.isNew)

        <div class="form-group">
            @Html.LabelFor(model => model.SenderID, "SenderID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SenderID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SenderID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceiverID, "ReceiverID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReceiverID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ReceiverID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @rows = "4", @cols = "20", @style = "color:black;" })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Alert)
                    @Html.ValidationMessageFor(model => model.Alert, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group hiddenFields">
            @Html.LabelFor(model => model.PushNotification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PushNotification)
                    @Html.ValidationMessageFor(model => model.PushNotification, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group hiddenFields">
            @Html.LabelFor(model => model.AlertDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--CUSTOM DATE FIELD-->
                <div class="input-group date" style="display:block;">
                    <input type="text" value="@Model.AlertDate" readonly for="AlertDate" name="AlertDate" data-val-required="The Alert Date field is required." class="form-control" style="cursor: pointer;border-top-right-radius: 4px;border-bottom-right-radius: 4px;">
                </div>
                @Html.ValidationMessageFor(model => model.AlertDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back To List", "Received", null, new { @class="red btn"})
                &emsp;
                <input type="submit" value="Save" class="btn red" />
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#Alert').on('change', function () {
            var valueSelected = this.value;
            if (valueSelected == "true") {
                $('.hiddenFields').show("fast");
            } else {
                $('.hiddenFields').hide("fast");
            }
        });
        $('#Alert').val("").change();

        $('.input-group.date input').datepicker({
            format: "mm/dd/yyyy",
            startView: 1,
            autoclose: true
        });
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
